body {
    margin: 0;
    padding: 0;
    font-family: "Apple SD Gothic Neo"; /* Police de caractères */
    background-color: #f0f0f0; /* Couleur de fond */
}

a:link {
    color: inherit !important;
    text-decoration: none;
}

a:hover {
    transform: scale(1.1);
}

.top-bar {
    background-color: #595986; /* Couleur de fond de la barre */
    color: white; /* Couleur du texte */
    padding: 10px; /* Espacement interne */
    text-align: center; /* Aligner le texte au centre */
    position: fixed; /* Position fixe */
    top: 0; /* Alignement au haut */
    width: 100%; /* Pleine largeur */
    z-index: 1000; /* Assure que la barre est au-dessus de tout */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Ombre pour un effet de profondeur */
    height: 82px;
    display: flex;
    justify-content: center; /* Centrer les éléments horizontalement */
    align-items: center; /* Centrer les éléments verticalement */
}

.top-bar .button-group {
    display: flex;
    align-items: center;
}

.top-bar button {
    background-color: white; /* Couleur de fond des boutons */
    color: black; /* Couleur du texte des boutons */
    border: none; /* Supprime les bordures */
    padding: 10px 20px; /* Espacement interne des boutons */
    cursor: pointer; /* Curseur au survol */
    border-radius: 5px; /* Bords arrondis */
    transition: background-color 0.3s; /* Transition fluide */
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top-bar button:hover {
    background-color: #777; /* Couleur de fond des boutons au survol */
}

.top-bar img {
    width: 40px; /* Largeur de l'image */
    height: auto; /* Garder le ratio hauteur/largeur */
    vertical-align: middle;
}

.separator {
    margin: 0 10px; /* Espace autour de la barre verticale */
    color: white; /* Couleur de la barre verticale */
    font-size: 1.5em;
}

#map-container {
    width: 50%; /* Largeur de votre choix */
    height: 60vh; /* Hauteur de votre choix */
    margin: auto; /* Pour centrer le conteneur */
    position: relative;
    margin-top: 180px; /* Pour éviter que la carte soit cachée par la barre */
    margin-left: 60px;
    float: left; /* Pour aligner la carte à gauche */
    border-right: 1px solid #ccc; /* Bordure à droite */
    order: 1;
}

#map {
    width: 100%;
    height: 100%;
}

#info-box {
    width: 40%; /* Largeur de la boîte d'info */
    height: 60vh; /* Hauteur de la boîte d'info */
    float: right; /* Pour aligner la boîte à droite */
    background-color: white; /* Couleur de fond */
    border-left: 1px solid #ccc; /* Bordure à gauche */
    padding: 10px; /* Espacement interne */
    margin-right: 30px; /* Marge à gauche */
    margin-top: 180px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Ombre pour un effet de profondeur */
    overflow-y: auto; /* Ajouter une barre de défilement si nécessaire */
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#info-box h2 {
    color: #333; /* Couleur du titre */
    font-size: 1.5rem; /* Taille du titre */
    margin-top: 0; /* Supprimer la marge supérieure par défaut */
    text-align: center; /* Centrer le titre */
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0; /* Couleur de fond de la boîte */
    border: 1px solid #ccc; /* Bordure */
    padding: 10px; /* Espacement interne */
    margin: 10px; /* Marge autour de chaque boîte */
    border-radius: 5px; /* Coins arrondis */
    width: 80%; /* Largeur des boîtes */
    transition: transform 0.3s, box-shadow 0.3s; /* Transition pour l'animation */
}

.info-item:hover {
    transform: scale(1.05); /* Agrandir légèrement au survol */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2); /* Ajouter une ombre plus prononcée au survol */
}

.info-icon {
    width: 50px; /* Taille de l'icône */
    height: auto; /* Conserver le ratio */
    cursor: pointer; /* Changement de curseur */
}

#info-box p {
    color: #666; /* Couleur du texte */
    font-size: 1rem; /* Taille du texte */
    margin: 5px 0 0 0; /* Ajustement de la marge */
    text-align: center; /* Centrer le texte */
}

#main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#weather-container {
    width: 100%;
    order: 2;
    display: flex;
    flex-direction: column; /* Aligner les éléments verticalement */
}

#weather-info {
    overflow-y: hidden; /* Pas de défilement horizontal */
    white-space: normal; /* Le texte passe à la ligne suivante */
    display: flex;
    flex-direction: row; /* Aligner les éléments horizontalement */
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%; /* Largeur complète pour éviter le défilement horizontal */
}

#weather-info div {
    width: 100%; /* Largeur complète pour éviter le défilement horizontal */
    height: auto; /* Hauteur automatique pour s'adapter au contenu */
    padding: 10px;
    margin: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: left; /* Aligner le texte à gauche */
    font-size: 14px; /* Taille de la police */
    word-wrap: break-word; /* Pour les mots longs */
    overflow: visible; /* Pas de défilement */
}

#weather-info div p {
    margin: 5px 0; /* Espacement vertical entre les éléments */
}

.city-label {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px; /* Taille de la police */
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    border: 1px solid rgba(255, 255, 255, 0.8);
    padding: 5px; /* Augmenter le padding pour plus de lisibilité */
    border-radius: 3px;
    text-align: center; /* Centrer le texte */
    white-space: nowrap; /* Empêcher le retour à la ligne */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Ajouter une ombre pour plus de contraste */
}

/* Styles pour le popup de réservation */

.popup-title {
    margin-bottom: 15px;
    font-size: 1.5em;
    color: #333;
    text-align: center;
}

.popup-form {
    width: 100%;
}

.popup-form .form-group {
    margin-bottom: 10px;
}

.popup-form .form-control {
    width: 100%;
    padding: 10px;
    font-size: 1em;
}

.popup-form .btn {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    background-color: #007bff;
    border: none;
    color: white;
    cursor: pointer;
}

.popup-form .btn:hover {
    background-color: #0056b3;
}

/* Styles pour le popup de réservation */
.leaflet-popup-content {
    font-family: "Arial", sans-serif;
    font-size: 14px;
    line-height: 1.5;
}
.leaflet-popup-content h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
}

.leaflet-popup-content p {
    margin: 5px 0;
}

.popup-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.reservation-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    margin-top: 10px;
    width: 100%;
}

.reservation-button:hover {
    background-color: #0056b3;
}
