body {
    margin: 0;
    padding: 0;
    font-family: "Apple SD Gothic Neo"; /* Police de caractères */
    background-color: #f0f0f0; /* Couleur de fond */
}

a:link {
    color: inherit !important;
    text-decoration: none;
}

a:hover {
    transform: scale(1.1);
}

.top-bar {
    background-color: #595986 ; /* Couleur de fond de la barre */
    color: white; /* Couleur du texte */
    padding: 10px; /* Espacement interne */
    text-align: left; /* Aligner le texte à gauche */
    position: fixed; /* Position fixe */
    top: 0; /* Alignement au haut */
    width: 100%; /* Pleine largeur */
    z-index: 1000; /* Assure que la barre est au-dessus de tout */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Ombre pour un effet de profondeur */
    height: 82px;
}
.top-bar button {
    width: 80px;
    background-color: white; /* Couleur de fond des boutons */
    color: black; /* Couleur du texte des boutons */
    border: none; /* Supprime les bordures */
    padding: 10px 20px; /* Espacement interne des boutons */
    margin-right: 10px; /* Marge entre les boutons */
    cursor: pointer; /* Curseur au survol */
    border-radius: 5px; /* Bords arrondis */
    transition: background-color 0.3s; /* Transition fluide */
    height: 60px;
}
.top-bar button:hover {
    background-color: #777; /* Couleur de fond des boutons au survol */
}
.top-bar img {
    width: 40px; /* Largeur de l'image */
    height: auto; /* Garder le ratio hauteur/largeur */
    vertical-align: middle;
}
#map-container {
    width: 50%; /* Largeur de votre choix */
    height: 60vh; /* Hauteur de votre choix */
    margin: auto; /* Pour centrer le conteneur */
    position: relative;
    margin-top: 180px; /* Pour éviter que la carte soit cachée par la barre */
    margin-left: 60px;
    float: left; /* Pour aligner la carte à gauche */
    border-right: 1px solid #ccc; /* Bordure à droite */
    order: 1;
}
#map {
    width: 100%;
    height: 100%;
}
#info-box {
    width: 40%; /* Largeur de la boîte d'info */
    height: 60vh; /* Hauteur de la boîte d'info */
    float: right; /* Pour aligner la boîte à droite */
    background-color: white; /* Couleur de fond */
    border-left: 1px solid #ccc; /* Bordure à gauche */
    padding: 10px; /* Espacement interne */
    margin-right: 30px; /* Marge à gauche */
    margin-top: 180px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Ombre pour un effet de profondeur */
    overflow-y: auto; /* Ajouter une barre de défilement si nécessaire */
    order: 1;
}
#info-box h2 {
    color: #333; /* Couleur du titre */
    font-size: 1.5rem; /* Taille du titre */
    margin-top: 0; /* Supprimer la marge supérieure par défaut */
}
#info-box p {
    color: #666; /* Couleur du texte */
    font-size: 1rem; /* Taille du texte */
}

#map-container, #info-box {
    float: none; /* Remove the float property */
}

#main-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#weather-container {
    width: 100%;
    order: 2;
    display: flex;
    flex-direction: column; /* Aligner les éléments verticalement */
}

#weather-info {
    overflow-y: hidden; /* Pas de défilement horizontal */
    white-space: normal; /* Le texte passe à la ligne suivante */
    display: flex;
    flex-direction: row; /* Aligner les éléments verticalement */
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%; /* Largeur complète pour éviter le défilement horizontal */
}

#weather-info div {
    width: 100%; /* Largeur complète pour éviter le défilement horizontal */
    height: auto; /* Hauteur automatique pour s'adapter au contenu */
    padding: 10px;
    margin: 5px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: left; /* Aligner le texte à gauche */
    font-size: 14px; /* Taille de la police */
    word-wrap: break-word; /* Pour les mots longs */
    overflow: visible; /* Pas de défilement */
}

#weather-info div p {
    margin: 5px 0; /* Espacement vertical entre les éléments */
}